:root {
	--bg_clr1: #000000;
	--bg_clr2: #161648;
	--bg_clr3: #80B0FF20;
	--tx_clr1: #ffffff;
	--tx_clr2: #B280B2;
	--tx_clr3: #4D80B2;
	--tx_clr4: #4DB0B2;
	--tx_clr5: #B2804D;
	--_boxvb__width: 92;
	--_boxvb_height: 24.8;
	--skew_x: -3.2deg;
	--skew_y: -1deg;
}

body {
	position: relative;
	background: linear-gradient(164deg, var(--bg_clr2) -60%, var(--bg_clr1) 35%, var(--bg_clr1) 85%, var(--bg_clr2) 150%);
	margin: 0 0;
	overflow-x: hidden; /* Ensure scrolling works */
	overflow-y: scroll; /* Ensure scrolling works */
	white-space: normal; /* Prevent content from wrapping */
	background-repeat: no-repeat; /* Prevent background from repeating */
	background-attachment: fixed; /* Keep background fixed when scrolling */
}
.div_center
{
	position: relative;
	left: 0;
	top: 0;
}
.debug_border1 { border: #FFFFFFFF solid min(0.25vw, 0.25vh); }
.debug_border2 { border: #FF0000FF solid min(0.35vw, 0.35vh); }
.debug_border3 { border: #00FF00FF solid min(0.25vw, 0.25vh); }
.debug_border4 { border: #0000FFFF solid min(0.30vw, 0.30vh); }
.debug_border5 { border: #00FFFFFF solid min(0.25vw, 0.25vh); }
.debug_border6 { border: #FF00FFFF solid min(0.35vw, 0.35vh); }
.debug_border7 { border: #FFFF00FF solid min(0.30vw, 0.30vh); }
.flex-container { position: relative; display: flex; }
.flx_ali0 { align-items: start; }
.flx_ali1 { align-items: end; }
.flx_aliC { align-items: center; }
.flx_aliS { align-items: stretch; }
.flx_col0 { flex-direction: column; }
.flx_row0 { flex-direction: row; }
.flx_col1 { flex-direction: column-reverse; }
.flx_row1 { flex-direction: row-reverse; }
.flx_anc0 { justify-content: flex-start; }
.flx_anc1 { justify-content: flex-end; }
.flx_cntr { justify-content: center; }
.flx_arnd { justify-content: space-around; }
.flx_btwn { justify-content: space-between; }
.flx_even { justify-content: space-evenly; }
.unselectable {
	-webkit-user-select: none; /* For Safari */
	-moz-user-select: none; /* For older Firefox */
	-ms-user-select: none; /* For older IE/Edge */
	user-select: none; /* Prevent text selection */
}
.skewed { transform: skew(var(--skew_x), var(--skew_y)); }
.unskew { transform: skew(calc(-1*var(--skew_x)), calc(-1*var(--skew_y))); }

.a-xL { transform: translateX(-0%); }
.a-xC { transform: translateX(-50%); }
.a-xR { transform: translateX(-100%); }
.a-yL { transform: translateY(-0%); }
.a-yC { transform: translateY(-50%); }
.a-yR { transform: translateY(-100%); }

@font-face {	font-family: "Titillium Web";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/OT/TW1.ttf') format('truetype');	font-weight: 100;	}
@font-face {	font-family: "Titillium Web";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/OT/TW4.ttf') format('truetype');	font-weight: 400;	}
@font-face {	font-family: "Titillium Web";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/OT/TW7.ttf') format('truetype');	font-weight: 700;	}

@font-face {	font-family: "Noto Sans AR";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/AR1.ttf') format('truetype');	font-weight: 100;	}
@font-face {	font-family: "Noto Sans AR";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/AR4.ttf') format('truetype');	font-weight: 400;	}
@font-face {	font-family: "Noto Sans AR";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/AR7.ttf') format('truetype');	font-weight: 700;	}
@font-face {	font-family: "Noto Sans CN";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/CN1.ttf') format('truetype');	font-weight: 100;	}
@font-face {	font-family: "Noto Sans CN";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/CN4.ttf') format('truetype');	font-weight: 400;	}
@font-face {	font-family: "Noto Sans CN";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/CN7.ttf') format('truetype');	font-weight: 700;	}
@font-face {	font-family: "Noto Sans JP";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/JP1.ttf') format('truetype');	font-weight: 100;	}
@font-face {	font-family: "Noto Sans JP";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/JP4.ttf') format('truetype');	font-weight: 400;	}
@font-face {	font-family: "Noto Sans JP";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/JP7.ttf') format('truetype');	font-weight: 700;	}
@font-face {	font-family: "Noto Sans KR";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/KR1.ttf') format('truetype');	font-weight: 100;	}
@font-face {	font-family: "Noto Sans KR";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/KR4.ttf') format('truetype');	font-weight: 400;	}
@font-face {	font-family: "Noto Sans KR";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/KR7.ttf') format('truetype');	font-weight: 700;	}
@font-face {	font-family: "Noto Sans LA";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/LA1.ttf') format('truetype');	font-weight: 100;	}
@font-face {	font-family: "Noto Sans LA";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/LA4.ttf') format('truetype');	font-weight: 400;	}
@font-face {	font-family: "Noto Sans LA";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/LA7.ttf') format('truetype');	font-weight: 700;	}
@font-face {	font-family: "Noto Sans TW";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/TW1.ttf') format('truetype');	font-weight: 100;	}
@font-face {	font-family: "Noto Sans TW";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/TW4.ttf') format('truetype');	font-weight: 400;	}
@font-face {	font-family: "Noto Sans TW";	src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/NS/TW7.ttf') format('truetype');	font-weight: 700;	}

@font-face {	font-family: "SP_BKU";			src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/SP/BKU.ttf') format('truetype');	font-weight: 400;	}
@font-face {	font-family: "SP_OHU";			src: url('https://github.com/FunnyParadox/webCDN/raw/refs/heads/main/FelixUTAU/fnt/SP/OHU.ttf') format('truetype');	font-weight: 400;	}

.t-f1 { font-family: "Noto Sans LA", "Noto Sans JP", "Noto Sans TW", "Noto Sans CN", "Noto Sans KR", "Noto Sans AR", sans-serif; }
.t-f2 { font-family: monospace; }
.t-f3 { font-family: fantasy; }
.t-f4 { font-family: "Titillium Web"; }
.t-aL { text-align: left; }
.t-aC { text-align: center; }
.t-aR { text-align: right; }
.t-c1 { color: var(--tx_clr1); }
.t-c2 { color: var(--tx_clr2); }
.t-c3 { color: var(--tx_clr3); }
.t-c4 { color: var(--tx_clr4); }
.t-c5 { color: var(--tx_clr5); }
.t-cA { color: var(--bg_clr1); }
.t-cB { color: var(--bg_clr2); }
.t-cC { color: var(--bg_clr3); }
.t-sS { font-size: min(1.75vw, 1.75vh); }
.t-sM { font-size: min(3.00vw, 3.00vh); }
.t-sL { font-size: min(4.75vw, 4.75vh); }
.t-sX { font-size: min(12.0vw, 12.0vh); }
.t-w1 { font-weight: 100; }
.t-w4 { font-weight: 400; }
.t-w7 { font-weight: 700; }

.outline {
	text-shadow: 
		min(.2vh, .2vw) min(.2vh, .2vw) min(.2vh, .2vw) rgba(0, 0, 0, 1), /* Shadow to the right and bottom */
		min(-.2vh, -.2vw) min(-.2vh, -.2vw) min(.2vh, .2vw) rgba(0, 0, 0, 1), /* Shadow to the left and top */
		min(.2vh, .2vw) min(-.2vh, -.2vw) min(.2vh, .2vw) rgba(0, 0, 0, 1), /* Shadow to the left and top */
		min(-.2vh, -.2vw) min(.2vh, .2vw) min(.2vh, .2vw) rgba(0, 0, 0, 1); /* Shadow to the right and bottom */
}
