#logo_container
{
	position: relative;
	height: min(30vw, 30vh);
	background: linear-gradient(180deg, var(--bg_clr3) 50%, #00000000 120%);
}
#logo_img, #logo_star, #logo_mask { position: absolute; width: min(50vw, 50vh); top: min(8vw, 8vh); }
@keyframes logo_anim_1s	{ 0% { filter: opacity(50%); } 50% { filter: opacity(10%); } 100% { filter: opacity(50%); } }
@keyframes logo_anim_2s { 0% { filter: opacity(10%); } 50% { filter: opacity(50%); } 100% { filter: opacity(10%); } }
@keyframes logo_anim_1w	{ 0% { filter: opacity(20%); } 50% { filter: opacity(10%); } 100% { filter: opacity(20%); } }
@keyframes logo_anim_2w { 0% { filter: opacity(10%); } 50% { filter: opacity(20%); } 100% { filter: opacity(10%); } }

#quote_center
{
	position: relative;
	width: 84vw;
	top: max(-1vw, -1vh);
}
#infinite_scroll
{
	--SIZE: 29.8;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	border-radius: min(30vw, 30vh);
	width: calc(var(--SIZE) * min(1vw, 1vh));
	height: min(6vw, 6vh);
	background: linear-gradient(180deg, #00000000 0%, var(--bg_clr2) 8%, var(--bg_clr2) 92%, #00000000 100%);
}
#infinite_scroll_text
{
	--ist_SIZE: -30;
	position: relative;
	top: min(.1412vw, .1412vh);
	animation: infinite_scroll_text 1s linear infinite;
}
@keyframes infinite_scroll_text
{
	000% { transform: translateX(0); }
	100% { transform: translateX(calc(var(--ist_SIZE) * min(1vw, 1vh))); }
}
#main_vb
{
	--x: -10;
	position: relative;
	width: 100%;
	top: calc(var(--x) * min(1vw, 1vh));
}
.vb_all { position: relative; --wid: 90; --hei: 50; width: calc(var(--wid) * 1vw); height: calc(var(--hei) * 100%); }

.vb_1_0 { position: relative; width: 100%; }
.vb_1_1 { position: relative; --wid:100; width: calc(var(--wid) * 1%); }

.vb_2_0 { position: relative; width: 100%; }
.vb_2_1 { position: relative; --wid:100; width: calc(var(--wid) * 1%); }

.vb_3_0 { position: relative; width: 100%; }
.vb_3_1 { position: relative; --wid: 25; width: calc(var(--wid) * 1%); }
.vb_3_2 { position: relative; --wid: 25; width: calc(var(--wid) * 1%); }
.vb_3_3 { position: relative; --wid: 25; width: calc(var(--wid) * 1%); }
.vb_3_4 { position: relative; --wid: 25; width: calc(var(--wid) * 1%); }

.vb_4_0 { position: relative; width: 100%; }
.vb_4_1 { position: relative; --wid: 80; width: calc(var(--wid) * 1%); border-radius: 60% 60% 0% 0%; }
.vb_4_2 { position: relative; --wid: 10; width: calc(var(--wid) * 1%); border-radius: 60% 60% 0% 0%; }
.vb_4_3 { position: relative; --wid: 10; width: calc(var(--wid) * 1%); border-radius: 60% 60% 0% 0%; }

.vb_5_0 { position: relative; width: 100%; }
.vb_5_1 { position: relative; --wid:100; width: calc(var(--wid) * 1%); border-radius: 0% 0% 60% 60%; }

#copyright
{
	position: absolute;
	top: min(103vw, 103vh);
	filter: opacity(10%);
	right: max(-4vw, -4vh);
	transform: rotate(-90deg) scale(12);
}